Source: fileschanged
Section: utils
Priority: optional
Maintainer: Ben Asselstine <benasselstine@users.sf.com>
Build-Depends: debhelper (>= 4.1.16), cdbs, automake1.8, autoconf
Standards-Version: 3.6.1.0

Package: fileschanged
Architecture: i386
Version: 0.6.2
Depends: fam, libfam0c102
Installed-Size: 200
Description: This utility is a FAM (File Alteration Monitor) client.  From 
 the command-line it monitors sets of files and shows you when they change.  
 You can also use this utility within shell scripts to take action when 
 monitored files become altered.  
 .
